body {
  font: 100% Helvetica, sans-serif;
  color: #000000; }

.page__wrapper {
  max-width: 900px;
  margin: 0 auto; }

.page__title {
  text-align: center; }

.block {
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
  .block.spacer {
    margin-top: 100px; }
  .block .component__left {
    float: left;
    width: 49%; }
    @media (max-width: 420px) {
      .block .component__left {
        width: 100%; } }
  .block .component__right {
    float: right;
    width: 49%; }
    @media (max-width: 420px) {
      .block .component__right {
        width: 100%; } }
  .block .component__inner {
    padding: 20px; }
  .block .component__photo {
    position: relative; }
    .block .component__photo__img {
      width: 100%; }
    .block .component__photo__title {
      font-weight: bold; }
    .block .component__photo__link {
      color: #008fff; }
  .block .carousel__item {
    height: 170px;
    margin: 0px 5px;
    border-radius: 5px; }

.form__wrapper {
  max-width: 760px;
  margin: 0 auto; }

.form__title {
  text-align: center; }

.form__input {
  display: block;
  width: 45%;
  float: left;
  min-height: 40px;
  margin: 2% 2%;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #d7dadc; }
  @media (max-width: 420px) {
    .form__input {
      width: 95%; } }
  .form__input--error {
    color: #f26c4f; }

.form__btn-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 50px; }
  .form__btn-wrap--submit {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .form__btn-wrap:after {
    content: ' ';
    display: block;
    background-image: url("../assets/dotted-line.png");
    height: 2px;
    width: 190px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 110px;
    bottom: 0; }

.icon {
  background-image: url("../assets/footer-icons.png");
  display: block;
  float: left;
  height: 45px;
  width: 43px;
  cursor: pointer; }
  .icon__wrapper {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    margin-bottom: 20px; }
    @media (max-width: 420px) {
      .icon__wrapper__inner {
        position: absolute;
        left: 50%;
        margin-left: -70px; } }
  .icon--facebook {
    background-position: -3px 0px; }
    .icon--facebook:hover {
      background-position: -3px 47px; }
  .icon--instagram {
    background-position: -44px 0px; }
    .icon--instagram:hover {
      background-position: -44px 47px; }
  .icon--youtube {
    background-position: -85px 0px; }
    .icon--youtube:hover {
      background-position: -85px 47px; }

.page-footer {
  color: #697b95; }
  @media (max-width: 420px) {
    .page-footer {
      text-align: center; } }
  .page-footer a {
    color: #008fff; }
  .page-footer .contact__info {
    margin-bottom: 40px; }
    .page-footer .contact__info p {
      margin: 5px 0px; }
  .page-footer .contact__header {
    margin: 5px 0px; }
  @media (max-width: 420px) {
    .page-footer__summary {
      margin-top: 60px; } }

.btn {
  cursor: pointer;
  background-color: #76e691;
  padding: 14px 40px;
  color: #ffffff;
  width: 270px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #18ab29; }
  @media (max-width: 420px) {
    .btn {
      width: 65%; } }
  .btn:hover {
    background-color: #53b16a; }
  .btn__generic {
    height: 50px;
    font-weight: bold; }
