// Device widths
// =============

$device-width-small: 420px;
$device-width-medium: 768px;
$device-width-large: 1280px;

// Max-widths
// ==========

$max-width: 1400px;
$ie8-max-width: 1024px;

// Borders and Outlines
// ====================
//focus outline is displayed when accessibility is enabled
$focus-outline: 3px solid orange; 

